body{

    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: url(imagen-de-fondo-para-pagina-web-1170x524.png);
    background-size: auto 200%;

}

.captura{

margin:auto;
display: block;

background: url(Captura.PNG);
background-position: center;
border-radius:20px
}

p{
    font-size: 17px;
    text-align: left;
}



h2{
    text-align: center;


}